.c-wordle-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  color: #d7dadc;
  border-bottom: 1px solid #3a3a3c;
}

.c-wordle-header__title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  pointer-events: none;
}

.c-wordle-subheading {
  color: #d7dadc;
  font-size: medium;
  font-style: italic;
  margin-block-start: 8px;
  margin-block-end: 8px;
}

.c-wordle-subheading a {
  color: #d7dadc;
  font-size: medium;
  font-style: italic;
}

.c-wordle-header__menu-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 4px;
}