html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  height: 100%;
  background-color: #121213;
  padding: 0;
  overflow-y: hidden;
}

div#root {
  height: 100%;
}

.App {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: #d7dadc
}